#hello {
	color: red;
}

#app-navigation li {
	height: 44px;
}

#app-navigation input.add-poll[type="text"] {
	height: 34px;
	width: 205px;
	margin: 5px 0 5px 6px;
	display: inline-block;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0 none;
}

#app-navigation button {
	width: 32px;
	background-size: 16px auto;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 5px 0;
	display: inline-block;
	float: left;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 34px;
}


.icon-poll-list {
	background-image: url('../../../core/img/actions/toggle-filelist.svg');
}
